.App {
  text-align: center;
}
.formContainer{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.signContainer{
  padding-bottom: 15px;
    font-size: larger;
    font-weight: 500;
}
.buttonContainer{
  border: 2px solid #151514;
  background-color: aquamarine;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}
.loginContainer{
  margin: 20px;
    border: 1.5px solid black;
    width: 300px;
    margin-left: 480px;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    background: antiquewhite;
}
.inputContainer{
  border: 1.5px solid black;
    border-radius: 5px;
    text-align: center;
    height: 25px;
}
.container{
  width: 300px;
    border: 1.5px solid;
    margin-top: 75px;
    /* text-align: center; */
    margin-left: 480px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: antiquewhite;
}
.homeContainer{
  margin: 20px;
    font-weight: 500;
    font-size: xx-large;
    float: left;
}
.profileContainer{
  float: right;
    margin: 20px;
    font-size: x-large;
    font-weight: 500;
    font-style: italic;
    background-color: antiquewhite;
    border-radius: 10px;
    width: 30%;
}
.homeButton{
  background: antiquewhite;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    margin-left: 80%;
}
.expenseAdder{
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #b2956f;
    background-color: antiquewhite;
    margin-top: 2%;
    width: 70%;
    margin-left: 14%;
    padding: 10px;
    border-radius: 5px;
}
.expenseInputField{
  border: 1.5px solid #b2956f;
    border-radius: 5px;
    height: 28px;
    width: 130%;
    text-align: center;
}
.expenseAdderButton{
  border: 2px solid #b2956f;
    width: 140%;
    height: 28px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: 600;
}
.expenseButton{
  border: 2px solid #b2956f;
    height: 28px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: 600;
}
.expenseAdderContainer{
  border: 2px solid #b2956f;
    margin-top: 20px;
    width: 71.6%;
    margin-left: 14%;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    list-style: none;
    flex-direction: column;
}
.loginLink{
  color: blue;
    font-weight: 700;
    font-size: 21px;
}
.inputLabel{
  margin-right: 64px;
    padding-bottom: 8px;
}
.inputLabel1{
  margin-right: 96px;
  padding-bottom: 8px;
}
.inputLabel2{
  margin-right: 38px;
  padding-bottom: 8px;
}
.contactContainer{
  margin-top: 10%;
    border: 2.5px groove sandybrown;
    padding-bottom: 25px;
    width: 50%;
    position: relative;
    left: 25%;
    border-radius: 10px;
}

.profilePhotoContainer{
    display: flex;
    justify-content: space-evenly;
    /* margin-right: 30px; */
    padding-top: 20px;
}
.labelDesign{
  font-size: 20px;
    font-style: italic;
    font-family: auto;
    
}
.inputFieldContainer{
  border: 2px groove sandybrown;
  border-radius: 5px;
}
.profileUpdateButton{
  margin-top: 30px;
    border: 2px groove sandybrown;
    border-radius: 5px;
    background-color: antiquewhite;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.profileButtonContainer{
  display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.avatar {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-width: 5px;
  border-color: gray;
  border-style: outset;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
